<section class="phx-hero">
  <h1><%= gettext "Wow... Look at all those %{name} games!", name: "Plump" %></h1>
  <table>
    <tr>
      <th>Code</th>
      <th>Creator</th>
      <th>Player Count</th>
      <th>Status</th>
    </tr>
    <%= for {code, game} <- @games do %>
      <tr>
        <td><%= code %></td>
        <td><%= game.creator.name %></td>
        <td><%= map_size(game.all_players) %></td>
        <td><%= game.status %></td>
      </tr>
    <% end %>
  </table>
</section>
